version: "3.4"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    privileged: true
    volumes:
      - ./src:/usr/src/app/src
      - ./target:/usr/src/app/target
      - ./Cargo.lock:/usr/src/app/Cargo.lock
      - ./Cargo.toml:/usr/src/app/Cargo.toml
    ports:
      - 8080:8080
    tty: true
    environment:
      MAX_RUN_TIME_LIMIT: -1
      MAX_EXTRA_TIME_LIMIT: -1
      MAX_WALL_TIME_LIMIT: -1
      MAX_STACK_SIZE_LIMIT: -1
      MAX_PROCESS_COUNT_LIMIT: -1
      MAX_MEMORY_LIMIT: -1
      MAX_STORAGE_LIMIT: -1
